<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Vacation!</h1>
    <p>A vacation is when you take a trip to some @Model.Adjective place with your @Model.Adjective family. Usually you go to some place that is near a/an @Model.Noun or up on a/an @Model.Noun .  A good vacation place is one where you can ride @Model.PNoun or play @Model.Game or go hunting for @Model.PNoun . I like to spend my time @Model.Verbing or @Model.Verbing . When parents go on a vacation, they spend their time eating three @Model.PNoun a day, and fathers play golf, and mothers sit around @Model.Verbing . Last summer, my little brother fell in a/an @Model.Noun and got poison @Model.Plant all over his @Model.BodyPart . My family is going to go to (the) @Model.Place , and I will practice @Model.Verbing . Parents need vacations more than kids because parents are always very @Model.Adjective and because they have to work @Model.Number hours every day all year making enough @Model.Noun to pay for the vacation.</p>
  </body>
</html>